li.order:hover {
    cursor: pointer;
    font-weight: bold;
}
li.order:focus {
    outline: none;
}
li.order {
    padding-left: 5px;
    padding-right: 5px;
}
ul.order {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: block;
}
.order {
    list-style: none;
    display: inline-block;
}
.list {
    width: 60px;
    height: 88px;
}
th, td {
    text-align: center;
}
table {
    border-collapse: null;
}
.movie-cards {
    display: inline-block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.md-card-image {
    width: 60px;
    height: 88px;
    margin: auto;
    visibility: hidden;
}
.movie-cards {
    display: inline-block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
md-card {
    width: 300px;
    height: 400px;
}
md-card-header {
    background-color: #ffffffcc;
}
md-card-content {
    background-color: #000000cc;
    color: white;
}
md-card-content {
    margin-top: auto;
}
#genreEntry {
    display: inline-block;
}
#genreSubmit {
    display: inline-block;
}
#movieFilter {
    display: block;
}
body {
    max-width: 1024;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
table {
    width: 100%;
    border-collapse: collapse;
}
tr, th, td {
    border: 1px;
}