<md-content>
    <h2>Add Movie</h2>
    <form>
        <md-input-container>
            <label tooltip="Tries its best to guess based on entry">Auto-fill Search: </label>
            <input ng-model="vm.search.query" placeholder="Movie Title" />
            <md-button ng-click="vm.queryOmdb(vm.search.query)" class="md-raised md-primary">Search</md-button>
        </md-input-container>
    </form>
    <form>
        <md-input-container>
            <input md-input="text" ng-model="vm.omdbMovie.name" placeholder="Title" />
        </md-input-container>
        <md-input-container>
            <label>Genre</label>
            <md-select ng-model="vm.omdbMovie.genre">
                <md-option ng-value="genre.name" ng-repeat="genre in vm.genres.list">{{genre.name}}</md-option>
            </md-select>
        </md-input-container>
        <md-input-container>
            <label>Release Date</label>
            <md-datepicker ng-model="vm.omdbMovie.release_date" placeholder="Release Date"></md-datepicker>
        </md-input-container>
        <md-input-container>
            <input ng-model="vm.omdbMovie.run_time" placeholder="Run Time" />
        </md-input-container>
        <md-input-container>
            <input ng-model="vm.omdbMovie.image" placeholder="Image URL" />
        </md-input-container>
        <md-button class="md-raised md-primary" ng-click="vm.addNewMovie(vm.omdbMovie)">Submit</md-button>
    </form>
    <h3>Sort by:</h3>
    <ul class="order">
        <li class="order" ng-click="vm.order.category = 'name'">Name</li>
        <li class="order" ng-click="vm.order.category = 'Genre'">Genre</li>
        <li class="order" ng-click="vm.order.category = 'release_date'">Release Date</li>
        <li class="order" ng-click="vm.order.category = 'run_time'">Runtime</li>
    </ul>
    <md-input-container id="movieFilter">
        <label>Filter</label>
        <input ng-model="vm.filter" />
    </md-input-container>
    <div class="movie-cards" ng-repeat="movie in vm.collection.list | orderBy:vm.order.category | filter:vm.filter">
        <md-card ng-style="{'background-image':'url(' + movie.image + ')'}">
            <md-card-header>
                <md-card-header-text>
                    <span class="md-title">{{movie.name}}</span>
                    <span class="md-subhead">{{movie.genre}}</span>
                </md-card-header-text>
            </md-card-header>
            <img ng-src="{{movie.image}}" class="md-card-image" alt="{{movie.image}} movie poster">
            <md-card-actions layout="column" layout-align="start center">
                <!-- <md-button class="md-raised md-primary">View Details</md-button>
                <md-button class="md-raised md-secondary">Add to Favorites</md-button> -->
            </md-card-actions>
            <md-card-content>
                <p>
                    Release date: {{movie.release_date | date}}
                    <br /> Runtime: {{movie.run_time}}
                </p>
                
                <md-button class="md-raised md-warn" ng-click="vm.deleteMovie(movie.id)">Delete</md-button>
            </md-card-content>
        </md-card>
    </div>
</md-content>